Hi Tim,

Those ideas sounds fabulous. I must admit I am a little bamboozaled by the options, but am trying to come back to what would be most useful.

I love the idea of being able to put plant lists together for clients, as this is usually quite time consuming for me. I love the inter-activity of the second option.

Currently, I use a few different applications for my work:

1. Autocad to draw the plan

2. Excel to create a plant schedule, which I then import into my Autocad file

3. excel plant 'database' to help select plants. This includes botanic name; common name; plant origin; dimentions; cultural conditions (sun, shade, part shade, soil conditions etc) flower time, colour, growth rate, foliage colour, potential use (screen, feature tree, pot etc), potential style (native, cottage, tropical, formal etc), and comments on care (pruning, fertilizing, pest/diseases). I can 'sort' the database via column, (say I am looking for a small, slow growing tree from china), but I am limited to 3 criteria, as that is all that is allowed for in the 'sort' option in excel. At the very least I really should re-organize the columns so I can cut and paste plants to create a plant schedule. This is something I can do myself, though if you have any better ideas I would love to hear them!!

4. Photo organizer to provide photos of plants on the plant schedule. This is completely separate to the excel database. Currently I copy each photo into a word file, and type in the botanic and common name for all plants on the plant schedule. This is quite time consuming and repetitive for each job. I then create a PDF file of the word file and email it to the client ( with a PDF of the autocad drawing).

 I would love to have more intergrated system but am not sure how it would work. I have thought about (and tried) adding the photos for each plant into the excel spreadsheet, but it doesn't really work.

Hmmm . . . Not sure where to go from here!! Hope it all makes sense.

I am wanting my webpage to provide information on who I am and what I do, examples of my work, description of my services, and also plant info, so that when I suggest plants, clients can look up the 'plants' section of my website and have a look at the plants. How this intergrates (or not) with what you are suggesting in your second suggestion I am not quite sure.

I will stop now, as I am tying this on my iPhone, which is a bit annoying, but meja is asleep and it is the only option I have !!!

Sounds really interesting, hope this info helps??

Tash ps sorry to hear about the car, but really glad Connie is ok, and glad she has decided to slow down too xx




Sent from my iPhonelon
- Show quoted text -
